<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="AdminSidebar.css">
</head>
<body>
    <div class="header">
        <div class="side-nav">
            <div class="user">
                <img src="../resources/img/Screenshot 2023-12-10 205410.png" alt="user-img" class="user-img"/>
                <div class="username">
                    <h2 style="font-size: 20px; font-weight: bold;">Admin</h2>
                    <p style="font-size: 15px; font-weight: bold;">admin@gmail.com</p>
                </div>
            </div>
            <ul>
                <!-- <h4>MAIN</h4> -->
                <a href="AdminDashboard.html" style="text-decoration: none; color: black;"><li><img src="../resources/img/house.svg" alt="dashboard"><p>Dashboard</p></li></a>
                <li><img src="../resources/img/card-text.svg" alt="form"><p>Manage Account</p></li>
                <li><img src="../resources/img/pie-chart.svg" alt="status"><p>User Summary</p></li>   
                <!-- <h4>SETTINGS</h4> -->
                <li><img src="../resources/img/info-circle.svg" alt="help"><p>Help</p></li>
            </ul>
            <ul>
                <li><img src="../resources/img/box-arrow-left.svg" alt="logout"><p>Logout</p></li>
            </ul>     
        </div>
    </div>
</body>
</html>
